<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?q={{time}}">
    </head>
    <body>
        <h1>Recipe Finder</h1>
        <h1>by Austin and Oliver</h1>
        <form method="post" action="/results", "/recipe">
            <label for="meat"> Click check to start looking for a recipe.</label><br>
            <input type="checkbox" name="meat" value="Meat">
            <input type="submit" value="Submit"/>

        </form>
    </body>
</html>
